streamlit==0.88.0
Pillow==8.4.0
ujson==4.3.0
scikit-learn==0.24.2
nltk==3.6.2
numpy==1.21.0
pandas==1.3.0
seaborn==0.11.1
matplotlib==3.4.2
scikit-multilearn==0.2.0
time==module
random==module
typing==module
requests==2.26.0
beautifulsoup4==4.9.3
selenium==4.6.0
webdriver_manager==3.5.1
